<?xml version="1.0" encoding="utf-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" colors="true" xsi:noNamespaceSchemaLocation="vendor/phpunit/phpunit/phpunit.xsd">
    <testsuites>
        <testsuite name="PDO">
            <directory>./tests</directory>
        </testsuite>
    </testsuites>
    <php>
        <var name="NEO_USER" value="neo4j"/>
        <var name="NEO_PASS" value="nothing"/>
    </php>
</phpunit>
